<!DOCTYPE html>
 <html>
 <head>
 	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
 </head>
   <body>
 	<h1>We would like to welcome you to our team, <%= @employee.name %></h1> 
 	<p> Please repersent us in public respectfully  </p>  
   </body> 
 </html> 

