<!DOCTYPE html>
<html>
	<body>
		<h1>Welcome trusted employee</h1>
		<p>Welcome to the new and improved employee view.</p>
		<p>You have been given the right to access our sites most trusted details</p>
		<p>Remember to sign out before you leave to maintain security protocol</p>
	</body>
</html>