<!DOCTYPE html>
<html>
	<body>
		<h1>Welcome</h1>
		<p>Welcome to Joe's Car Rentals where we will cater to your every need</p>
		<p>In order to rent you must be a registered customer.</p>
		<p>If you are not a registered Customer please <%= link_to "sign up now!", new_customer_path %>.</p>
		<p>If you want to rent a car <%= link_to "please click here!", new_rental_path %>.</p>
		<p>You will receive an email with conformation of your sign up.</p>
	</body>
</html>
