// Place all the styles related to the Rentals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rentals {
 table {
 border-collapse: collapse;
 }

 table tr td {
 padding: 5px;
 vertical-align: top;
 }

 .list_description {
 width: 100%;

 dl {
 margin: 0;
 }

 dt {
 font-weight: bold;
 font-size: larger;
 }
 }

 .list_actions {
 font-size: x-small;
 text-align: right;
 padding-left: 1em;
 }
 
 #linkTo:link{
 color:red;
 }

 .list_line_even {
 background: purple;
 color:gold;
 }

 .list_line_odd {
 background: gold;
 color:purple;
}
 }